.search-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  margin-left: 150px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  min-width: 65%;
  height: 40px;
}

@media screen and (max-width: 815px) {
  .search-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100%;
    height: 40px;
    margin: 0;
  }
}
