* {
    box-sizing: border-box;
}

.main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    display: flex;
    align-items: stretch;
}

.logo {
    padding: 5px;
    padding-left: 0px;
}

.navigation-container {
    display: flex;
    padding-left: 5px;
    align-items: stretch;
    justify-content: center;
    font-weight: normal;
    width: 100%;
}

.navigation {
    width: 100%;
}

.navigation-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navigation-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.navigation-item:hover {
    text-decoration: underline black solid 3px;
}

.navigation-link  {
    text-decoration: none;
}

.navigation-link:visited {
    color: black;
}

.content {}

.banner {}

.banner-image {
    width: 100%;
    height: 300px;
}

.intro {}

.main-header-text {    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.map-container {}

.map {
    width: 100%;
    height: 300px;
}

.outro {}

.footer {
    border-top: solid black 2px;
    font-size: small;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

